


*{
    padding: 0;
    margin: 0;
    color:black;
}

html,body, .main-container, nav, footer, section{
    text-align: center;
}

html, body{
    background-color: rgb(255, 255, 255,0.5);
    background-image:url(../img/enfer.jpg) ;
}

.main-container{
  
    height: 1500px;
    border-radius: 10px;
    margin: 1rem;
   
  
}



nav, section, footer{
    border: 4.5px solid rgb(255, 255, 255,0.5)f;
    margin: 10px;
    border-radius: 5px;
    padding: 1rem;
}
aside{
    border: 2px solid #3186f5;
    margin: 9px;
    border-radius: 6px;
    padding: 1rem;
    
}

nav{
    position: relative;
    width: 94%;
    left: 0%;
    height: 15%;
}

article{
    position: absolute;
    width: 80%;
    left: 16%;
    height: 51%;
    border:2px solid  #3186f5;
    border-radius: 5px;
}

aside{
    position: relative;
    width: 10%;
    height: 50%;
    top: 0%;

}

section{
    position: absolute;
    width: 96%;
    height: 1510px;
  
}

footer{
    position: absolute;
    height: 100px;
    width: 1223px;
    bottom: -105%;
    left: 28px;
}
.cero{
    text-align: center;
    align-items: center;
    font-size: 50px;

}

.uno{
    text-align: center;
}
.dos{
    text-align: center;
}




.libro{
    margin: 100%;
    width: 38px;
}
.or{
    margin: 100%;
    width: 40px;   
}
.raton{
    margin: 100%;
    width: 36px;
}
.menu {
    display: flex;
    justify-content: center;
  }
  
  .menu li {
    margin-right: 80px;
  }
  
  .menu a {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .menu a span {
    transition: transform 0.2s ease-out;
  }
  
  .menu a span:first-child {
    display: inline-block;
    padding: 10px;
  }
  
  .menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }
  
  .menu i {
    font-size: 30px;
  }
  
  .menu a:hover span:first-child {
    transform: translateY(100%);
  }
  
  .menu a:hover span:last-child,
  .menu[data-animation] a:hover span:last-child {
    transform: none;
  }



.menu[data-animation="to-top"] a span:last-child {
    transform: translateY(100%);
  }
  
  .menu[data-animation="to-top"] a:hover span:first-child {
    transform: translateY(-100%);
  }
  
  .menu[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
  }
  
  .menu[data-animation="to-right"] a:hover span:first-child {
    transform: translateX(100%);
  }
  
  .menu[data-animation="to-left"] a span:last-child {
    transform: translateX(100%);
  }
  
  .menu[data-animation="to-left"] a:hover span:first-child {
    transform: translateX(-100%);
  }
  
.rin{
    position: absolute;
    right:900px;
    top: -50px;
    width: 200px;
    align-content: center;
    
}

 .lab{
    position: absolute;
    right:200px;
    top: -30px;
    width: 200px;
    align-content: center;
 }

 .img{
    position: absolute;
    right:520px;
    top: 100px;
    width: 200px;
    align-content: center;
    
}


.anime{
    position: absolute;
    right:1000px;
    width: 200px;
    align-content: right;

}
.rem1{

    position: absolute;
    right:100px;
    width: 200px;
    align-content: right;
    
    
}

.unu{
    position: absolute;
    right:-20px;
    width: 200px;
    align-content: right;
    
}





